python>=3.6
tqdm>=4.41.1
pytables>=3.6.1
prodigal>=2.6.3
aragorn>=1.2.38
infernal>=1.1.2
mmseqs2>=10
networkx>=2.3
scipy>=1.4.1
plotly>=4.10.0
gmpy2>=2.0
pandas>=0.25
colorlover>=0.3
mafft>=7.471
numpy>=1.17.5
bokeh>=2.3.1
