python>=3.6
tqdm=4.*
psutil=5.*
pytables=3.5.*
prodigal=2.6.*
aragorn=1.2.*
infernal=1.1.*
mmseqs2=10.*
networkx=2.3
scipy=1.3
plotly=4.*
gmpy2=2.*
numpy=1.16#comes with pytables, networkx, pandas ...
pandas=0.25
colorlover=0.3